
@{
    ViewBag.Title = "Sınıflar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Room>

<div class="panel panel-default minimum">
    <div class="panel-heading">
        <div class="pull-left">
            <h4>Sınıflar</h4>
        </div>
        <div class="text-right">
            <a class="btn btn-default" href="/Room/Add" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Sınıf Ekle
            </a>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <p><a href="/Room/Detail/@item.Id">@item.Name</a></p>
        }
    </div>
</div>