
@{
    ViewBag.Title = "Sınıflar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Room>

<div class="col-sm-6 min-heigth">
    <table class="table">
        <thead>
            <tr>
                <th><h3>Sınıflar</h3></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th><a href="/Room/Detail/@item.Id">@item.Name</a></th>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-sm-6 text-right" style="margin-top:50px">
    <a class="btn btn-default" href="/Room/Add" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Sınıf Ekle
    </a>
</div>