
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Room

<div class="col-sm-12 panel panel-default">
    <div class="row panel-heading">
        <h4>Sınıf Bilgisi Güncelle</h4>
    </div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div class="row panel-body">
            <form method="post" action="/Room/Add">
                @Html.AntiForgeryToken()
                <div class="col-sm-6">
                    <!--ID-->
                    <input name="id" type="text" value="@Model.Id" hidden="hidden" />
                    <!--ID-->
                    <div class="form-group">
                        <input id="name" type="text" class="form-control" name="name" placeholder="İsim" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                    </div>
                </div>
                <div class="col-sm-6 text-warning">@Html.ValidationSummary(false)</div>
            </form>
        </div>
    }
    else
    {
        <div class="col-md-12 panel-body text-center"><h4>Sınıf bilgilerini düzenlemek için giriş yapın</h4></div>
    }
</div>