
@{
    ViewBag.Title = "Enstrüman Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Lecture

<table class="table">
    <thead>
        <tr><th colspan="2"><h3>Enstrüman Bilgileri</h3></th></tr>
    </thead>
    <tbody>
        <tr>
            <th>Adı:</th>
            <th>@Model.Name</th>
        </tr>
        <tr>
            <th>Açıklama:</th>
            <th>@Model.Description</th>
        </tr>
    </tbody>
</table>

