/*LAYOUT*/
.wrapper {
    display: grid;
    max-width: 960px;
    min-height: 720px;
    grid-template:
        [header-left] "head head" 60px [header-right]
        [main-left] "nav  main" 1fr [main-right]
        [footer-left] "foot  foot" 30px [footer-right]
        / 200px 1fr;
}
header {
    grid-area: head;
}
#content {
    grid-area: main;
}

footer {
    grid-column: foot;
}
nav#sidebar {
    grid-area: nav;
    margin-top: 50px;
}
header .navbar-right {
    margin-right: 0 !important;
}

.navbar-left > li.active > a,
.navbar-left > li.active > a:hover,
.navbar-left > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
}

/*NAV BUTTONS - YESTERDAY / TOMORROW*/
.program-menu .glyphicon {
    font-size: 2em;
    font-weight: 800;
    line-height: 2.5em;
    color: #000;
}
.program-menu{
    justify-content:center;
    margin: auto;
}
.program-menu div{
    min-height: 100%;
}

/*PAGE CONTENT*/
table a {
    text-decoration: none;
}
.min-height {
    min-height: 440px;
}
table input.emptyroom,
table a.room {
    display: inline-block;
    height: 100%;
    width: 100%
}
table tr th.no-padding {
    padding: 2px;
}