
@{
    ViewBag.Title = "Öğrenciler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Student>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">
            <h4>Öğrenciler</h4>
        </div>
        <div class="text-right">
            <a class="btn btn-default" href="/Student/Add" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Öğrenci Ekle
            </a>
        </div>
    </div>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <p><a href="/Student/Detail/@item.Id">@item.Name @item.Surname</a></p>
        }
    </div>

    <div class="panel-footer">
        <form method="get" action="/Student/">
            <ul class="pagination">
                @for (int i = 1; i <= (int)ViewData["pageCount"]; i++)
                {
                    <li @if ((int)ViewData["page"] == i) { @: class="active"
                         }><a href="/Student/Index/@i">@i</a></li>
                }
            </ul>
        </form>
    </div>
</div>