
@{
    ViewBag.Title = "Eğitmen Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-12">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Html.Partial("partial/_TeacherRegister")
    }
    else
    {
        <div class="col-md-12 text-center"><h4>Eğitmen eklemek için giriş yapın</h4></div>
    }
</div>