
@{
    ViewBag.Title = "Ödemeler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Ödemeler</h4>
    </div>
    <div class="list-group">
        <a href="/Payment/Student" class="list-group-item">Öğrenci Ödemeleri</a>
        <a href="/Payment/Teacher" class="list-group-item">Eğitmen Ödemeleri</a>
    </div>
</div>

