    <!-- Sidebar Header -->
    <div class="sidebar-header">

    </div>

    <!-- Sidebar Links -->
<ul class="nav navbar-left">
    <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Ana Sayfa</a></li>
    <li><a href="/Room/Index"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Sınıflar</a></li>
    <li><a href="/Lecture/Index"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Enstrümanlar</a></li>
    <li><a href="/Teacher/Index"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Eğitmenler</a></li>
    <li><a href="/Student/Index"><span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> Öğrenciler</a></li>
</ul>
